.search{
    padding: 0px 330px;
    padding-top: 30px;

    .searchChild{
        border: 2px solid rgba(0, 0, 0, 0.132);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between ;
        font-weight: bold;
        padding: 13px;
    
        input{
            outline: none;
            border: none;
            border-left: 1px solid rgba(0, 0, 0, 0.132);
        }
    }
}